.departments-section {
  background-image: repeating-linear-gradient(
    to bottom,
    $color_white 0,
    $color_white 84px,
    $color_light_pink 84px,
    $color_light_pink
  );

  @media screen and(min-width: $tablet) {
    background-image: repeating-linear-gradient(
      to bottom,
      $color_white 0,
      $color_white 78px,
      $color_light_pink 78px,
      $color_light_pink
    );
  }
  @media screen and(min-width: $desktop) {
    background-image: repeating-linear-gradient(
      to bottom,
      $color_white 0,
      $color_white 102px,
      $color_light_pink 102px,
      $color_light_pink
    );
  }
  .container {
    h2 {
      display: none;
    }
    .departments-list {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 54px;
      @media screen and(min-width: $mobile_l) {
        padding-left: 0px;
        padding-right: 0px;
      }
      @media screen and(min-width: $tablet) {
        display: flex;
        margin-bottom: 81px;
      }
      @media screen and(min-width: $desktop) {
        margin-bottom: 86px;
      }
      .departments-listik {
        transition: all 250ms $cubic;
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        width: 100%;
        padding: 43px 20px;
        background: $color_white;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        margin-left: auto;
        margin-right: auto;
        @media screen and(min-width: $tablet) {
          width: 220px;
          padding: 50px 31px;
          &:not(:last-child) {
            margin-bottom: 0px;
          }
        }
        @media screen and(min-width: $desktop) {
          width: 330px;
          padding: 51px 44px;
        }
        .cafe {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $color_yellow;
          border-radius: 4px;
          width: 80px;
          height: 16px;
          margin-bottom: 25px;
          @media screen and(min-width: $mobile_l) {
            margin-left: auto;
            margin-right: auto;
          }
          @media screen and(min-width: $tablet) {
            margin-bottom: 30px;
            width: 73px;
            height: 28px;
          }
          @media screen and(min-width: $desktop) {
            margin-bottom: 32px;
          }
        }
        .foodtruck {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 130px;
          height: 16px;
          background: $color_green;
          border-radius: 4px;
          margin-bottom: 25px;
          @media screen and(min-width: $mobile_l) {
            margin-left: auto;
            margin-right: auto;
          }
          @media screen and(min-width: $tablet) {
            margin-bottom: 30px;
            width: 138px;
            height: 28px;
          }
          @media screen and(min-width: $desktop) {
            margin-bottom: 32px;
          }
        }
        .departments-header {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 1.37;
          color: $color_white;
          margin: 0px;
          @media screen and(min-width: $tablet) {
            font-size: 16px;
          }
        }
        .departments-miniheader {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 1.37;
          letter-spacing: 0.04em;
          color: $color_black;
          margin: 0;
          margin-bottom: 10px;
          @media screen and(min-width: $mobile_l) {
            text-align: center;
          }
          @media screen and(min-width: $tablet) {
            font-size: 14px;
            margin-bottom: 14px;
          }
          @media screen and(min-width: $desktop) {
            font-size: 16px;
            margin-bottom: 10px;
          }
        }
        .departments-description {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: $color_brown;
          margin: 0;
          margin-bottom: 25px;
          @media screen and(min-width: $mobile_l) {
            text-align: center;
          }
          @media screen and(min-width: $tablet) {
            margin-bottom: 30px;
            font-size: 14px;
            line-height: 18px;
          }
          @media screen and(min-width: $desktop) {
            margin-bottom: 32px;
            font-size: 16px;
            line-height: 18px;
          }
        }
        .departments-workingtime {
          border-top: 1px solid #e1e1e1;
          border-bottom: 1px solid #e1e1e1;
          padding: 0px;
          padding-top: 25px;
          padding-bottom: 25px;
          margin: 0px;
          margin-bottom: 25px;
          @media screen and(min-width: $mobile_l) {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          @media screen and(min-width: $tablet) {
            display: block;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-bottom: 30px;
          }
          @media screen and(min-width: $desktop) {
            padding-top: 32px;
            padding-bottom: 32px;
            margin-bottom: 32px;
          }
          .hours-list {
            list-style: none;
            margin: 0;
            padding: 0;
            .departments-week {
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 1.37;
              color: $color_black;
              display: block;
              margin: 0;
              @media screen and(min-width: $tablet) {
                font-size: 14px;
              }
              @media screen and(min-width: $desktop) {
                font-size: 16px;
              }
            }

            .departments-hours {
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 1.83;
              color: $color_secondary_pink;
              @media screen and(min-width: $tablet) {
                font-size: 14px;
              }
              @media screen and(min-width: $desktop) {
                font-size: 16px;
              }
            }
          }
        }
        .departmnets-contacts {
          display: block;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: $color_brown;
          text-decoration: none;
          @media screen and(min-width: $mobile_l) {
            text-align: center;
          }
          @media screen and(min-width: $tablet) {
            font-size: 13px;
            line-height: 26px;
          }
          @media screen and(min-width: $desktop) {
            font-size: 16px;
            line-height: 29px;
          }
        }
      }
    }
    .departments-buttons {
      ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and(min-width: $tablet) {
          flex-direction: row;
          justify-content: center;
        }
        li {
          &:first-child {
            margin-bottom: 10px;
            @media screen and(min-width: $tablet) {
              margin-bottom: 0px;
              margin-right: 15px;
            }
          }
        }
        button {
          padding: 0px;
          width: 162px;
          height: 44px;
          border: none;
          border-radius: 22px;
          @media screen and(min-width: $tablet) {
            width: 191px;
          }
          a {
            display: block;
            text-decoration: none;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            line-height: 21px;
            font-weight: bold;
          }
        }
        .departments-button-red {
          background-color: $color_red;
          transition: all 250ms $cubic;
          a {
            color: $color_white;
            padding-right: 17px;
            padding-left: 17px;
            svg {
              fill: $color_white;
            }
            @media screen and(min-width: $tablet) {
              padding-right: 30px;
              padding-left: 30px;
            }
          }
          &:hover {
            background-color: $color_white;
            a {
              color: $color_red;
            }
            svg {
              fill: $color_red;
            }
          }
        }
        .departments-button-white {
          background-color: $color_white;
          transition: all 250ms $cubic;
          a {
            padding-right: 31px;
            padding-left: 31px;
            color: $color_red;
            svg {
              fill: $color_red;
            }
            @media screen and(min-width: $tablet) {
              padding-right: 40px;
              padding-left: 40px;
            }
          }
          &:hover {
            background-color: $color_red;
            a {
              color: $color_white;
            }
            svg {
              fill: $color_white;
            }
          }
        }
      }
    }
  }
}
