.section-slider {
  padding-top: 86px;
  padding-bottom: 86px;
  @media screen and (min-width: $tablet) {
    padding-top: 119px;
    padding-bottom: 119px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 132px;
    padding-bottom: 132px;
  }
}

.review-slider-container {
  padding-right: 0px;
  padding-left: 0px;
  @media screen and (min-width: $tablet) {
    padding-right: 39px;
    padding-left: 39px;
  }
  @media screen and (min-width: $desktop) {
    padding-right: 63px;
    padding-left: 63px;
  }
}

.review-slide-image {
  width: 85px;
  height: 85px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 29px;
  background-color: transparent;
  border-radius: 50%;
  border: transparent;
  @media screen and (min-width: $tablet) {
    margin-bottom: 19px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 15px;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.review-slide {
  animation-name: animate-review;
  animation-duration: 500ms;
}
@keyframes animate-review {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.review-slide-text-wrap {
  padding-bottom: 30px;
  padding-top: 45px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
  background-color: $color_light_grey;
  z-index: -2;
  position: relative;
  @media screen and (min-width: $tablet) {
    padding-right: 55px;
    padding-left: 55px;
  }
}

.review-slide-text-lines {
  font-size: 12px;
  line-height: 30px;
  padding: 0px;
  text-align: center;
  z-index: -2;
  position: relative;
  background: $color_light_grey;
  background-image: repeating-linear-gradient(
    to bottom,
    $color_light_grey 0,
    $color_light_grey 30px-1,
    #e1e1e1 30px-1,
    #e1e1e1 30px
  );

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }

  svg {
    position: absolute;
    z-index: -1;
    fill: #e1e1e1;
    @media screen and (max-width: $mobile_s) {
      top: -13px;
      left: 10px;
    }
    @media screen and (min-width: $mobile_s + 1) and (max-width: $mobile_l - 1) {
      top: -13px;
      left: -2%;
    }
    @media screen and (min-width: $mobile_l) {
      top: -13px;
      left: -15px;
    }
    @media screen and (min-width: $tablet) {
      top: -16px;
      left: -10px;
    }
    @media screen and (min-width: $desktop) {
      top: -10px;
      left: 0px;
    }
  }

  p {
    color: $color_black;
    margin: 0;
    padding-right: 7px;
    padding-left: 7px;
    font-family: $font_dm;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.04em;
    z-index: 2;
    @media screen and (min-width: $tablet) {
      padding-right: 20px;
      padding-left: 20px;
    }
    @media screen and (min-width: $desktop) {
      padding-right: 35px;
      padding-left: 35px;
    }
  }
}

.review-slide-dots-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 14px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 15px;
  }
}

.review-slide-dot {
  background-color: $color_red;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: transparent;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.review-slide {
  h3 {
    text-align: center;
    font-family: $font_dm;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 37px;
    color: $color_black;
    margin-bottom: 30px;
    margin-top: 0px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 35px;
    }
    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 20px;
    }
  }
}
.review-slider-controls {
  display: flex;
  justify-content: center;
}

.review-slider-controls-dot {
  width: 15px;
  height: 15px;
  background: $color_grey;
  border-radius: 50%;
  border: transparent;
  cursor: pointer;
  transition: all 250ms $cubic;
  &:not(:last-child) {
    margin-right: 18px;
  }
  &.active {
    background: url(../images/ice-cream.svg), transparent;
  }
}
