<section class="departments-section">
    <div class="container">
        <h2 id="Our Departments">Departments</h2>
        <ul class="departments-list" id="contacts">
            <li class="departments-listik wow slideInLeft" data-wow-offset="100">
                <div class="cafe">
                    <p class="departments-header">CAFE</p>
                </div>
                <p class="departments-miniheader">Chicago</p>
                <p class="departments-description">
                    Our cozy lounge is located right in front of Des Plaines River.
                </p>
                <ul class="departments-workingtime">
                    <li class="hours-list">
                        <p class="departments-week">Monday - Friday</p>
                        <p class="departments-hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="hours-list">
                        <p class="departments-week">Saturday - Sunday</p>
                        <p class="departments-hours">08:00 AM - 16:00 PM </p>
                    </li>
                </ul>
                <a href="tel:+18722068054" class="departmnets-contacts">+1 872 206 80 54</a>
                <a href="mailto:icecream-ch@gmail.com" class="departmnets-contacts">icecream-ch@gmail.com</a>
            </li>

            <li class="departments-listik">
                <div class="foodtruck">
                    <p class="departments-header">FOODTRUCK</p>
                </div>
                <p class="departments-miniheader">Los Angeles</p>
                <p class="departments-description">
                    A truck with neat Icecream is waiting for you at Long Beach.
                </p>
                <ul class="departments-workingtime">
                    <li class="hours-list">
                        <p class="departments-week">Monday - Friday</p>
                        <p class="departments-hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="hours-list">
                        <p class="departments-week">Saturday - Sunday</p>
                        <p class="departments-hours">08:00 AM - 16:00 PM </p>
                    </li>
                </ul>
                <a href="tel:+12138021770" class="departmnets-contacts">+1 213 802 17 70</a>
                <a href="mailto:icecream-ch@gmail.com" class="departmnets-contacts">icecream-la@gmail.com</a>
            </li>

            <li class="departments-listik wow slideInRight" data-wow-offset="100">
                <div class="cafe">
                    <p class="departments-header">CAFE</p>
                </div>
                <p class="departments-miniheader">New York</p>
                <p class="departments-description">
                    Come visit us at our oceanside cafe in Coney Island.
                </p>
                <ul class="departments-workingtime">
                    <li class="hours-list">
                        <p class="departments-week">Monday - Friday</p>
                        <p class="departments-hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="hours-list">
                        <p class="departments-week">Saturday - Sunday</p>
                        <p class="departments-hours">08:00 AM - 16:00 PM </p>
                    </li>
                </ul>
                <a href="tel:+13472401669" class="departmnets-contacts">+1 347 240 16 69</a>
                <a href="mailto:icecream-ch@gmail.com" class="departmnets-contacts">icecream-ch@gmail.com</a>
            </li>
        </ul>
        <div class="departments-buttons">
            <ul>
                <li>
                    <button class="departments-button-red">
                        <a href="#top"> Our Locations <svg height="10" width="10">
                                <use href="./images/sprite.svg#arrow-light"></use>
                            </svg>
                        </a>
                    </button>
                </li>
                <li><button class="departments-button-white"><a href="#top"> Franchise <svg height="10" width="10">
                                <use href="./images/sprite.svg#arrow-light"></use>
                            </svg>
                        </a>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>