<header>
    <div class="container-head">
        <div class="header-container" id="home">
            <div class="nav-container">
                <a class="logo" href="#top">
                    <svg class="logo-icon" width="50" height="50">
                        <use href="./images/sprite.svg#logo"></use>
                    </svg>
                    icecream
                </a>
                <nav class="menu-container">
                    <ul class="menu-list">
                        <li class="menu-list-item"><a href="#top">Home</a></li>
                        <li class="menu-list-item"><a href="#about">About us</a></li>
                        <li class="menu-list-item"><a href="#howitsmade">How it’s made?</a></li>
                        <li class="menu-list-item"><a href="#products">Our products</a></li>
                        <li class="menu-list-item"><a href="#contacts">Contact</a></li>
                    </ul>
                </nav>
                <button class="menu-button" type="button" aria-label="переключатель мобильного меню" data-modal-open>
                    <svg width="20" height="20">
                        <use class="menu-button-icon" href="./images/sprite.svg#burger"></use>
                    </svg>
                </button>
            </div>
            <button class="buy-btn" type="button">
                <a href="#top">
                    Buy now
                    <svg class="buy-btn-icon" width="12" height="12">
                        <use href="./images/sprite.svg#arrow-light"></use>
                    </svg>
                </a>
            </button>
        </div>
    </div>
</header>