<section class="hero">
    <div class="container">
        <div class="left-side">
            <div class="hero-title">
                <h1>ice cream<br>
                    made with<br>
                    <span>passion</span>
                </h1>
                <ul>
                    <li><button class="button-red"><a href="#top">Products</a></button></li>
                    <li><button class="button-white"><a href="#top">How it’s made?</a></button></a></li>
                </ul>
            </div>
            <div class="milk-text">

                <picture>
                    <source srcset="./images/hero-milk.webp" type="image/webp" />
                    <img srcset="
                        ./images/hero-milk-188.png 1x,
                        ./images/hero-milk-376.png 2x" src="./images/hero-milk-188.png" alt="milkshakes" width="188"
                        height="100%" />
                </picture>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et</p>
                    <button aria-label="text"><a href="#top" aria-label="text">
                            <svg width="10" height="10">
                                <use href="./images/sprite.svg#arrow-light"></use>
                            </svg></a>
                    </button>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="top-data">
                <ul>
                    <li>16<span>cafes</span></li>
                    <li>23<span>food trucks</span></li>
                </ul>
            </div>
            <div class="tasty-image">
                <picture>
                    <source srcset="./images/tasty.webp" type="image/webp" />
                    <img srcset="
                        ./images/tasty-293.png 1x,
                        ./images/tasty-586.png 2x" src="./images/tasty-293.png" alt="milkshakes" width="293"
                        height="100%" />
                </picture>
            </div>
        </div>
    </div>
</section>