<div class="backdrop is-hidden" data-modal>
    <div class="side-menu">
        <div class="button-div-close">
            <button class="side-menu__button-close" data-modal-close>
                X
            </button>
        </div>
        <div class="button-div-buy">
            <button class="side-menu__button-buy" type="button">
                <span class="side-menu__button-buy-text">Buy now</span>
                <svg class="side-menu__button-buy-icon" width="12" height="12">
                    <use href="./images/sprite.svg#arrow-light"></use>
                </svg>
            </button>
        </div>
        <nav class="side-menu__nav">
            <ul class="side-menu__list">
                <li class="side-menu__items"><a class="side-menu__links" href="#top">Home</a></li>
                <li class="side-menu__items"><a class="side-menu__links" href="#about">About us</a></li>
                <li class="side-menu__items"><a class="side-menu__links" href="#howitsmade">How it`s made?</a></li>
                <li class="side-menu__items"><a class="side-menu__links" href="#products">Our products</a></li>
                <li class="side-menu__items"><a class="side-menu__links" href="#contacts">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>