<section class="section-slider">
    <div class="container">
        <div class="review-slider-container" id="about">
            <div class="review-slide">
                <div class="review-slide-image">
                    <picture>
                        <source srcset="/images/women-3.webp" type="image/webp" />
                        <img srcset="/images/women-3-85.png 1x, /images/women-3-170.png 2x" src="/images/women-3-85.png"
                            alt="user-photo" width="85" height="85" />
                    </picture>
                </div>
                <div class="review-slide-text-wrap">
                    <div class="review-slide-text-lines">
                        <svg class="review-slide-svg" width="54" height="40">
                            <use href="/images/sprite.svg#quotes"></use>
                        </svg>
                        <p class="review-slide-text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
                            ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </div>
                <div class="review-slide-dots-wrap">
                    <span class="review-slide-dot"></span>
                    <span class="review-slide-dot"></span>
                    <span class="review-slide-dot"></span>
                </div>
                <h3 class="review-slide-user">Emily, Los Angeles</h3>
            </div>
            <div class="review-slide">
                <div class="review-slide-image">
                    <picture>
                        <source srcset="/images/women-2.webp" type="image/webp" />
                        <img srcset="/images/women-2-85.png 1x, /images/women-2-170.png 2x" src="/images/women-2-85.png"
                            alt="user-photo" width="85" height="85" />
                    </picture>
                </div>
                <div class="review-slide-text-wrap">
                    <div class="review-slide-text-lines">
                        <svg class="review-slide-svg" width="54" height="40">
                            <use href="/images/sprite.svg#quotes"></use>
                        </svg>
                        <p class="review-slide-text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
                            ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </div>
                <div class="review-slide-dots-wrap">
                    <span class="review-slide-dot"></span>
                    <span class="review-slide-dot"></span>
                    <span class="review-slide-dot"></span>
                </div>
                <h3 class="review-slide-user">Jessy, London</h3>
            </div>
            <div class="review-slide">
                <div class="review-slide-image">
                    <picture>
                        <source srcset="/images/women-1.webp" type="image/webp" />
                        <img srcset="/images/women-1-85.png 1x, /images/women-1-170.png 2x" src="/images/women-1-85.png"
                            alt="user-photo" width="85" height="85" />
                    </picture>
                </div>
                <div class="review-slide-text-wrap">
                    <div class="review-slide-text-lines">
                        <svg class="review-slide-svg" width="54" height="40">
                            <use href="/images/sprite.svg#quotes"></use>
                        </svg>
                        <p class="review-slide-text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
                            ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </div>
                <div class="review-slide-dots-wrap">
                    <span class="review-slide-dot"></span>
                    <span class="review-slide-dot"></span>
                    <span class="review-slide-dot"></span>
                </div>
                <h3 class="review-slide-user">Monica, New York</h3>
            </div>
        </div>
        <div class="review-slider-controls" style="text-align: center">
            <span class="review-slider-controls-dot" onclick="currentSlide(1)"></span>
            <span class="review-slider-controls-dot" onclick="currentSlide(2)"></span>
            <span class="review-slider-controls-dot" onclick="currentSlide(3)"></span>
        </div>
    </div>
</section>